@import url("https://fonts.googleapis.com/css?  family=Lora:400,400i,700,700i");

body {
  margin:0;
}

svg text {
 font-family: Lora;
 letter-spacing: 10px;
 stroke: #00ff00;
 font-size: 20px;
 font-weight: 200;
 stroke-width: 1;

 animation: textAnimate 5s infinite alternate;
 
}

@keyframes textAnimate {
 0% {
   stroke-dasharray: 0 50%;
   stroke-dashoffset:  20%;
   fill:hsl(189, 68%, 75%)

 }
 
 100% {
   stroke-dasharray: 50% 0;
   stroke-dashoffstet: -20%;
   fill: hsla(189, 68%, 75%,0%)
 }
 
}


